<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Pawsitively"
        tools:targetApi="31">
        <activity
            android:name=".ScanPet"
            android:exported="false" />
        <activity
            android:name=".AddLostPet"
            android:exported="false" />
        <activity
            android:name=".PetFoundDashboard"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAz-nGml-OstFk3wE7308MfPcvTHRLsNhM" />

        <activity
            android:name=".SettingsDashboard"
            android:exported="false" />
        <activity
            android:name=".NotificationDashboard"
            android:exported="false" />
        <activity
            android:name=".MapsDashboard"
            android:exported="false" />
        <activity
            android:name=".HomeDashboard"
            android:exported="false" />
        <activity android:name=".ChatActivity" />
        <activity
            android:name=".CommunityChatActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Terms"
            android:exported="false" />
        <activity
            android:name=".Aboutus"
            android:exported="false" />
        <activity
            android:name=".Changepassword"
            android:exported="false" />
        <activity
            android:name=".Edituser"
            android:exported="false" />
        <activity
            android:name=".UserAccount"
            android:exported="false" />
        <activity
            android:name=".Message"
            android:exported="false"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".ManagePets"
            android:exported="false" />
        <activity
            android:name=".Mainpage"
            android:exported="false" />
        <activity
            android:name=".Signup"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>